header {
    background-color: $primary3;
    padding-top: 1px;
        .menuLogo {
            position: fixed;
            right: 20px;
            top: 60px;
            z-index: 20;
        }
        nav {
            background-color: $primary3;
            ul {
                display: flex;
                justify-content: center;
               
                li {
                    margin: 40px 30px 0 30px;
                    a {
                        text-align: center;
                        line-height: 1.6rem;
                        transition: color .2s;
                    }

                    a:focus,
                    a:hover, 
                    a:active {
                        color: $white;
                    }
                }
            }
        }

        .harperLogo {
            font-size: 3rem;
        }
        
        .headerText {   
            justify-content: space-between;
            h1 {
                font-size: 6rem;
                position: absolute;
                right: 250px;
                top: 300px;
            }
            .circleTextContainer {
                position: absolute;
                right: 200px;
                top: 325px;
            }
        }

        .imageContainerHeaderIndex {
            position: relative;
            bottom: -60px;
            box-shadow: 15px 15px $white;
        }
    }
.mobileLogo {
    visibility: hidden;
    position: absolute;
}
.menuLogo {
    visibility: hidden;
    position: fixed;
    z-index: 20;
    cursor: pointer;
    i {
        display: block;
        font-size: 1.5rem;
        position: absolute;
        right: 30px;
        top: -26px;

    }
}

.menuLogoClicked {
    color: $primary1;
}

.visibleNav {
    visibility: visible;
}
