

header {
    background-color: $primary3;
    padding-top: 1px;
        nav {
            background-color: $primary3;
            ul {
                display: flex;
                justify-content: center;
                li {
                    margin: 40px 30px 0 30px;
                    a {
                        text-align: center;
                        line-height: 1.6rem;
                    }

                    a:focus,
                    a:hover, 
                    a:active {
                        color: $white;
                    }
                }
            }
        }

        .harperLogo {
            font-size: 3rem;
        }
        
        .headerText {   
            justify-content: space-between;


            h1 {
                font-size: 8rem;
                position: absolute;
                right: 22%;
                top: 32%;
            }
            .circleTextContainer {
                position: absolute;
                right: 19%;
                top: 34%;
            }
        }

        .imageContainerHeaderIndex {
            position: relative;
            bottom: -60px;
            box-shadow: 15px 15px $white;
        }
        
    }