@import 'setup';
@import 'variables';
@import 'header';
@import 'forms';

// General Styles

html {
    font-size: 125%;
}

body {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;

}

a {
    text-decoration: none;
}

h1,
h2,
h3,
a {
    font-family: $headerFont;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $black;
}

h1 {
    font-size: 4rem;
    line-height: 4.6rem;
}

p,
footer {
    font-family: $bodyFont;
    line-height: 1.6rem;
}

.flexContainer {
    display: flex;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.mainButtonStyle {
    background-color: $accent;
    display: inline-block;
    padding: 15px 40px;
    margin-top: 20px;
}


// background colours

.greyBackground {
    background-color: $primary4;
}

// Images

img {
    width: 100%;
    height: auto;
    display: block;
}

.wideImage img {
    width: 100vw;
}


// Footer Styles

footer {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 20px;
}

// Aside Styles

// Index Styles

.about {
    padding-top: 60px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 50% 50%;

    .aboutText {
        grid-column-start: 2;
    }

}

// .imageGalleryList {
    
// }

.infoList ul {
    padding-top: 60px;
    padding-bottom: 80px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.articlesSection {
    padding-top: 60px;
    padding-bottom: 40px;
    grid-column-gap: 0;
    position: relative;
    .text1 {
        padding-left: 80px;
    }
    .text2 {
        padding-right: 80px;
    }
    .articleSectionText {
        padding-top: 40px;
    }

    .imageContainerArticle1 {
        position: relative;
        top: -100px;
    }
    .imageContainerArticle2 {
        position: relative;
        bottom: -80px;
        z-index: 2;
    }

    .imageBackground {
        position: absolute;
        height: 45%;
        width: 50%;
    }

    .imageBackground1 {
        top: -20px;
        background-color: $primary2;
    }

    .imageBackground2 {
        bottom: -20px;
        right: 0;
        background-color: $primary3;
    }
}

.journeySection {
    padding-top: 80px;
    padding-bottom: 60px;
    .grid {
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 100px;
    }
}

.imageGallery {
    padding: 80px 0;
}

.imageGalleryList { 
    padding-left: 0;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    
}

//  Contact Page

.contactMain {
    padding-top: 80px;
    position: relative;
    h1 {
        position: absolute;
        top: -110px;
    }
}