@import 'setup';
@import 'variables';
@import 'header';
@import 'forms';
@import 'social';

// General Styles

html {
    font-size: 125%;
}

body {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;

}

a {
    text-decoration: none;
}

h1,
h2,
h3,
a,
button {
    font-family: $headerFont;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $black;
}

p,
footer,
.recentPosts a {
    font-family: $bodyFont;
    line-height: 1.6rem;
}

.flexContainer {
    display: flex;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.mainButtonStyle {
    background-color: $accent;
    display: inline-block;
    padding: 15px 40px;
    margin-top: 20px;
}


// background colours

.greyBackground {
    background-color: $primary4;
}

// Images

img {
    width: 100%;
    height: auto;
    display: block;
}

.wideImage img {
    width: 100vw;
}


// Footer Styles

footer {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 20px;
}

// Aside Styles

// Index Styles

.gridAbout {
    padding-top: 60px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 50% 50%;

    .aboutText {
        grid-column-start: 2;
    }
}

// .imageGalleryList {
    
// }

.infoList ul {
    padding-top: 60px;
    padding-bottom: 80px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.articlesSection {
    padding-top: 60px;
    padding-bottom: 40px;
    grid-column-gap: 0;
    position: relative;
    .text1 {
        padding-left: 80px;
    }
    .text2 {
        padding-right: 80px;
    }
    .articleSectionText {
        padding-top: 40px;
    }

    .imageContainerArticle1 {
        position: relative;
        top: -100px;
    }
    .imageContainerArticle2 {
        position: relative;
        bottom: -80px;
        z-index: 2;
    }

    .imageBackground {
        position: absolute;
        height: 45%;
        width: 50%;
    }

    .imageBackground1 {
        top: -20px;
        background-color: $primary2;
    }

    .imageBackground2 {
        bottom: -20px;
        right: 0;
        background-color: $primary3;
    }
}

.journeySection {
    padding-top: 80px;
    padding-bottom: 60px;
    .grid {
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 100px;
    }
}

.imageGallery {
    padding: 80px 0;
}

.imageGalleryList { 
    padding-left: 0;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;   
}

//  Contact Page + Blog Page

.contactMain,
.blogMain {
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
    h1 {
        position: absolute;
        top: -110px;
        font-size: 4rem;
        line-height: 4.6rem;
    }
}

.formGrid,
.blogPagegrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
}
.gridItem1 {
    grid-column-start: 2;
    grid-row-start: auto;
}

.gridItem2 {
    grid-row-start: 1;
    grid-row-start: 1;
}


.commentGrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    p:first-child {
        margin-top: 0;
    }
}

.mainArticle,
.recentPosts,
.about,
.comment {
    background-color: $white;
    padding: 40px;
    margin-bottom: 40px;
}

.mainArticle,
.bottomComment {
    border-bottom: 6px solid $primary1;
}

// Recent Posts Styles

.recentPosts {
    li {
        list-style-type: disc;
        a {
            text-transform: none;
            transition: color 0.2s;
        }
        a:focus,
        a:hover, 
        a:active {
            color: $accent;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
}

// Media Queries 


@media (max-width: 1360px) {
    .imageContainerHeaderIndex {
        width: 30%;
    }
}

@media (max-width: 1100px) {
    .wrapper {
        width: 90%;
    }
    
}

@media (max-width: 985px) {
    .formGrid,
    .blogPagegrid {
        grid-template-columns: 1fr;
    }
    
    .gridItem1 {
        grid-column-start: 1;
    }
    
    .gridItem2 {
        grid-column-start: 1;
        grid-row-start: span 2;
        height: 100%;
    }

    header nav {
        z-index: 20;
        ul {
            flex-direction: column;
            align-items: flex-end;
            position: fixed;
            right: 20px;
            top: 40px;

            .harperLogoItem {
                display: none;
            }
            li {
                margin-top: 10px;
            }
        }

    }
    
    .gridAbout {
        padding-top: 80px;
        display: grid;
        grid-template-columns: 100%;
    
        .aboutText {
            grid-column-start: 1;
        }
    }

    .headerTextIndex {
        visibility: hidden;
    }

    .mobileLogo {
        visibility: visible;
        position: fixed;
        left: 25px;
        top: -5px;
        font-size: 2rem;
        z-index: 22;
    }
    
    .menuLogo {
        visibility: visible;
    }

    

    .grid {
        grid-template-columns: 1fr;
        padding-left: 0;
        gap: 5px;
    }
    .articlesSection {
        .imageContainerArticle1 {
            top: 0;
        }
        .imageContainerArticle2 {
            bottom: 0;
        }
        .imageBackground {
            width: 0;
            height: 0;
        }
        .text1 {
            padding-left: 0;
        }
        .text2 {
            padding-right: 0;
            padding-bottom: 60px;
        }
    }
    .imageContainerHeaderIndex {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .journeySection {
        .grid {
            grid-template-columns: 1fr;
        }
    }
    .imageGalleryList {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 480px) {
    
    .contactMain,
    .blogMain {
    h1 {
        top: -80px;
        font-size: 3rem;
        line-height: 3.6rem;
    }
}
    p,
    footer,
    .recentPosts a {
        font-size: .9rem;
        line-height: 1.4rem;
    }
 
}