html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

header {
  background-color: #B9DDE7;
  padding-top: 1px;
}
header nav {
  background-color: #B9DDE7;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav ul li {
  margin: 40px 30px 0 30px;
}
header nav ul li a {
  text-align: center;
  line-height: 1.6rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
header nav ul li a:focus,
header nav ul li a:hover,
header nav ul li a:active {
  color: #FFFFFF;
}
header .harperLogo {
  font-size: 3rem;
}
header .headerText {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .headerText h1 {
  font-size: 6rem;
  position: absolute;
  right: 22%;
  top: 32%;
}
header .headerText .circleTextContainer {
  position: absolute;
  right: 18%;
  top: 34%;
}
header .imageContainerHeaderIndex {
  position: relative;
  bottom: -60px;
  -webkit-box-shadow: 15px 15px #FFFFFF;
          box-shadow: 15px 15px #FFFFFF;
}

.contactForm,
.commentForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 300px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

input {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Cabin", sans-serif;
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Cabin", sans-serif;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Cabin", sans-serif;
  opacity: 1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Cabin", sans-serif;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  font-family: "Cabin", sans-serif;
  opacity: 1;
}

.messageArea {
  grid-column-start: span 2;
}

textarea {
  width: 100%;
  height: 300px;
  padding: 20px;
  resize: none;
  border: none;
}

.formButtonStyle {
  background-color: #f38d8d;
  width: 100%;
  height: 100%;
  padding: 15px;
  border: none;
  grid-column-start: span 2;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.formButtonStyle:focus,
.formButtonStyle:hover,
.formButtonStyle:active {
  color: #FFFFFF;
}

.socialMenu ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.socialMenu a {
  display: inline-block;
  padding-right: 25px;
  margin-right: 10px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.socialMenu a:focus,
.socialMenu a:hover,
.socialMenu a:active {
  color: #f38d8d;
}

.addresses a {
  text-transform: lowercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.addresses a:focus,
.addresses a:hover,
.addresses a:active {
  color: #f38d8d;
}

.socialAddresses {
  background-color: #FFFFFF;
  padding: 30px;
  height: 70%;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
a,
button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #171717;
}

p,
footer,
.recentPosts a {
  font-family: "Cabin", sans-serif;
  line-height: 1.6rem;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.mainButtonStyle {
  background-color: #f38d8d;
  display: inline-block;
  padding: 15px 40px;
  margin-top: 20px;
}

.greyBackground {
  background-color: #F6F6F6;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wideImage img {
  width: 100vw;
}

footer {
  background-color: #171717;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
}

.gridAbout {
  padding-top: 60px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.gridAbout .aboutText {
  grid-column-start: 2;
}

.infoList ul {
  padding-top: 60px;
  padding-bottom: 80px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.articlesSection {
  padding-top: 60px;
  padding-bottom: 40px;
  grid-column-gap: 0;
  position: relative;
}
.articlesSection .text1 {
  padding-left: 80px;
}
.articlesSection .text2 {
  padding-right: 80px;
}
.articlesSection .articleSectionText {
  padding-top: 40px;
}
.articlesSection .imageContainerArticle1 {
  position: relative;
  top: -100px;
}
.articlesSection .imageContainerArticle2 {
  position: relative;
  bottom: -80px;
  z-index: 2;
}
.articlesSection .imageBackground {
  position: absolute;
  height: 45%;
  width: 50%;
}
.articlesSection .imageBackground1 {
  top: -20px;
  background-color: #68B0C1;
}
.articlesSection .imageBackground2 {
  bottom: -20px;
  right: 0;
  background-color: #B9DDE7;
}

.journeySection {
  padding-top: 80px;
  padding-bottom: 60px;
}
.journeySection .grid {
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 100px;
}

.imageGallery {
  padding: 80px 0;
}

.imageGalleryList {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.contactMain,
.blogMain {
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
}
.contactMain h1,
.blogMain h1 {
  position: absolute;
  top: -110px;
  font-size: 4rem;
  line-height: 4.6rem;
}

.formGrid,
.blogPagegrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.gridItem1 {
  grid-column-start: 2;
  grid-row-start: auto;
}

.gridItem2 {
  grid-row-start: 1;
  grid-row-start: 1;
}

.commentGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
.commentGrid p:first-child {
  margin-top: 0;
}

.mainArticle,
.recentPosts,
.about,
.comment {
  background-color: #FFFFFF;
  padding: 40px;
  margin-bottom: 40px;
}

.mainArticle,
.bottomComment {
  border-bottom: 6px solid #227284;
}

.recentPosts li {
  list-style-type: disc;
}
.recentPosts li a {
  text-transform: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.recentPosts li a:focus,
.recentPosts li a:hover,
.recentPosts li a:active {
  color: #f38d8d;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1360px) {
  .imageContainerHeaderIndex {
    width: 30%;
  }
}
@media (max-width: 1100px) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .formGrid,
.blogPagegrid {
    grid-template-columns: 1fr;
  }

  .gridItem1 {
    grid-column-start: 1;
  }

  .gridItem2 {
    grid-column-start: 1;
    grid-row-start: span 2;
    height: 100%;
  }

  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header nav ul .harperLogoItem {
    display: none;
  }
  header nav ul li {
    margin-top: 10px;
  }

  .aboutText {
    grid-column-start: span 1;
  }
}
@media (max-width: 480px) {
  .contactMain h1,
.blogMain h1 {
    top: -80px;
    font-size: 3rem;
    line-height: 3.6rem;
  }

  p,
footer,
.recentPosts a {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}